[Unit]
Description=Ki daemon
After=network-online.target

[Service]
User=root
ExecStart=/home/dpierret/go/bin/kid start --minimum-gas-prices "0.0uxki" --p2p.laddr tcp://0.0.0.0:46656 --rpc.laddr tcp://127.0.0.1:46657 --address tcp://0.0.0.0:46658 --grpc.address 0.0.0.0:29090 --home /home/dpierret/.ibc-testbed/kid
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
