[Unit]
Description=Lum Network daemon
After=network-online.target

[Service]
User=root
ExecStart=/home/dpierret/go/bin/lumd start --minimum-gas-prices "0.0ulum" --p2p.laddr tcp://0.0.0.0:26656 --rpc.laddr tcp://127.0.0.1:26657 --address tcp://0.0.0.0:26658 --grpc.address 0.0.0.0:9090 --grpc-web.address 0.0.0.0:9091 --home /home/dpierret/.ibc-testbed/lumd
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
